hr {
  height: 2px;
  border: none; border-radius: 24px;
  background-color: var(--background-secondary-alt);
}
br {
  height: 2px; width: 50px;
  border: none; border-radius: 24px;
  background-color: var(--background-tertiary);
}