.main {
  background: linear-gradient(to bottom right,
      var(--background-start-rgb),
      var(--background-end-rgb));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  width: 100vw;
  display: flex;
}

.background {
  position: absolute;
  background: #e9ecef;
  flex-grow: 3;
  width: 100%;
  height: 100%;
}

.cornerLogo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 24px;
  z-index: 512;
  font-size: 2em;
  font-weight: 800;
}

.title {
  font-size: 1.75em;
  font-weight: 400;
}

.highlight {
  font-weight: 800;
  color: var(--primary);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 100%;
  max-width: 500px;
  height: 600px;
  padding: 24px;
  background: #fff;
  border-radius: var(--border-radius);
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  z-index: 100;
}