.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #fff;
  border-right: 1px solid #ccc;
  width: 240px;
  height: 100vh;
  left: 0;
  transition: left 0.25s;
}

.navInvisible {
  left: -240px;
}

.navTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
  width: 100%;
  font-size: 2rem;
  font-weight: 800;
  color: #000;
  transition: background-color 0.2s;
  height: 96px;
  border-bottom: 1px solid #ccc;
}

.navCategoryTitle {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 8px 0;
  font-weight: 500;
  color: #ced4da;
}

.navButtons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  padding: 0 16px;
}

.navButton {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--border-radius);

  padding: 0 8px;
  margin: 2px 0;

  height: 48px;
  width: 100%;
  transition: background-color 0.2s;

  color: #212529;
  font-weight: 600;
}

.navButton:hover {
  background-color: #f8f9fa;
}

.navButton:active {
  background-color: #e9ecef;
}

.navButton__active, .navButton__active:hover {
  background-color: #212529;
  color: #fff;
}

.navButton__active:active {
  background-color: #343a40;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100vw;
    left: 0;
  }

  .navInvisible {
    left: -100vw;
  }
}