.mainEditor {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0, 8px;
  min-height: 500px;
  padding: 24px;
  width: 50%;
}

.mainEditor__title {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  font-weight: 600;
}

.mainEditor__subtitle {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  font-weight: 600;
  margin: 4px 0;
}

.mainEditor__titleIcon {
  margin-right: 8px;
}

.mainEditor__subtitleIcon {
  margin-right: 8px;
}

.mainEditor__description {
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: 400;
  min-height: 4rem;
  padding: 8px;
}