.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--background-primary);
  border: 1px solid var(--background-secondary); border-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-primary);
  transition: var(--transition-duration-secondary);
}

.card-fill-height {
  flex-grow: 1;
}

.card-hover-scale:hover {
  transform: scale(1.01);
}

.card-contents {
  display: flex;
  flex-direction: column;
  padding: 0; margin: 0;
}