form {
  border: 1px solid var(--background-tertiary);
  border-radius: var(--border-radius-primary);
  box-shadow: var(--shadow-primary);
}

.form-auth {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: var(--background-primary);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin: 4px;
}

.input-row {
  display: flex;
  flex-direction: row;
}

::placeholder {
  font-weight: 400;
  color: var(--text-secondary);
}

input,
label,
select {
  display: block;
  box-sizing: border-box;
}

input:not(.react-tag-input__input):not([type='checkbox']):not([type='radio']),
button,
textarea,
select,
.button-file-upload {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

input[type="file"] {
  display: none;
  width: 100%;
  height: 100%;
}

.button.invisible {
  color: var(--text-primary);
  font-size: 16px;
  min-height: 18px;
}

.input-box,
.button,
.button-file-upload,
.react-tag-input {
  background-color: var(--background-primary);
  color: var(--text-primary);
  border-radius: var(--border-radius-primary);
  border: 1px solid var(--background-secondary);
  font-size: 16px;
  min-height: 18px;
  max-width: auto;
  transition: var(--transition-duration-primary);
  box-shadow: var(--shadow-primary);
  text-overflow: ellipsis;
}

.input-box:focus,
.button:focus,
.react-tag-input .react-tag-input__input:focus {
  outline: none;
  border: 1px solid var(--background-tertiary);
  box-shadow: var(--shadow-tertiary);
}

/* .button, .button-file-upload .submit-button {
  padding-left: 1rem;
  padding-right: 1rem;
} */

button,
.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--background-primary);
  height: 48px;
  transition: var(--transition-duration-primary);
}

button:hover,
.button:hover {
  cursor: pointer;
  box-shadow: var(--shadow-tertiary);
}

button:active,
.button:active {
  box-shadow: var(--shadow-inset-primary);
}

.button.invisible {
  background: transparent;
  box-shadow: none;
}

.button > svg {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button > span {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}

.button-danger {
  color: var(--text-primary-dark);
  background-color: var(--background-red-secondary);
}

.button-danger:hover {
  cursor: pointer;
  border: 1px solid var(--background-red-primary);
  box-shadow: var(--shadow-tertiary-danger);
}

.button-danger:active {
  box-shadow: var(--shadow-inset-primary-danger);
}

.button-danger:disabled {
  background-color: var(--background-red-primary) !important;
}

.button-file-upload {
  background-color: var(--background-primary);
  transition: var(--transition-duration-primary);
}

.button-file-upload:hover {
  cursor: pointer;
  box-shadow: var(--shadow-tertiary);
}

.button-file-upload:active {
  box-shadow: var(--shadow-inset-primary);
}

.button-file-upload div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

label[for="file-upload"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  padding: 0;
  margin: 0;
}

.input-box:disabled,
.button-file-upload:disabled {
  background-color: var(--background-secondary);
}

// .react-tag-input {
//   width: 100%;
//   min-height: 18px;
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: flex-start;
//   padding: unset;
//   margin-top: 4px;
//   margin-bottom: 4px;
//   border: none;
// }

// .react-tag-input__input,
// .react-tag-input__input:focus,
// .react-tag-input__input:hover,
// .react-tag-input__input:active {
//   border: none !important;
//   box-shadow: none !important;
//   outline: none !important;
//   margin-top: unset;
//   margin-bottom: unset;
//   background: none;
// }

// .react-tag-input__tag {
//   position: relative;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   border: none;
//   height: auto;
//   margin: 4px;
//   background-color: var(--background-primary) !important;
//   border: 1px solid var(--background-tertiary) !important;
//   border-radius: var(--border-radius-secondary) !important;
// }

// .react-tag-input__tag__content {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   padding: 4px;
//   border-top-left-radius: var(--border-radius-secondary);
//   border-bottom-left-radius: var(--border-radius-secondary);
//   border: 1px solid var(--background-tertiary);
// }

// .react-tag-input__tag__remove {
//   width: 1em;
//   height: 1.75em;
//   background: transparent !important;
//   border-top-right-radius: var(--border-radius-secondary);
//   border-bottom-right-radius: var(--border-radius-secondary);
// }

$reactTagColorGray: #e1e1e1;
$reactTagColorText: var(--text-primary-light);
$reactTagHeight: 2.375em;
$reactTagFontSize: 1em;
$reactTagBorderRadius: var(--border-radius-primary);
$reactTagMarginPadding: 0.1875em;

.react-tag-input {
  position: relative;
  width: 100%;
  min-height: 18px;
  height: auto;
  overflow-y: auto;

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  font-size: 1rem;
  border: 1px solid var(--background-secondary);
  border-radius: $reactTagBorderRadius;

  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;

  padding-left: 11px !important;
  padding-right: 11px !important;

  > * {
    margin: $reactTagMarginPadding;
  }

  @at-root #{&}__input {
    box-sizing: border-box;
    width: auto;
    flex-grow: 1;

    line-height: 1;

    min-height: 36px;

    background: transparent;
    border: none;
    border-radius: $reactTagBorderRadius;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: none;

    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;

    &:focus, &:hover, &:active {
      border: unset !important;
      outline: unset !important;
      box-shadow: unset !important;
    }
    
  }

  @at-root #{&}__tag {
    position: relative;
    display: flex;
    align-items: center;
    line-height: 100%;
    background: var(--background-primary);
    border: 1px solid var(--background-tertiary);
    border-radius: $reactTagBorderRadius;
  }

  @at-root #{&}__tag__content {
    height: $reactTagFontSize * 1;
    line-height: $reactTagFontSize * 1;
    outline: 0;
    border: none;
    white-space: nowrap;
    padding: 0 $reactTagMarginPadding * 2.5;
  }

  @at-root #{&}__tag__remove {
    position: relative;
    height: $reactTagFontSize * 2;
    width: $reactTagFontSize * 2;

    font-size: $reactTagFontSize - 0.15;
    cursor: pointer;
    border-top-right-radius: $reactTagBorderRadius;
    border-bottom-right-radius: $reactTagBorderRadius;

    transition: var(--transition-duration-secondary);

    &:before,
    &:after {
      position: absolute;
      top: 50%;
      left: 50%;
      content: " ";
      height: $reactTagFontSize - 0.1;
      width: 0.15em;
      background-color: $reactTagColorText;
    }
    &:before {
      transform: translateX(-50%) translateY(-50%) rotate(45deg);
    }
    &:after {
      transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    }

    @at-root #{&}-readonly {
      width: 0;
      &:before,
      &:after {
        content: "";
        width: 0;
      }
    }

    &:hover {
      background: var(--background-secondary);
    }
  }
}

label p {
  margin-bottom: 4px;
}