body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: var(--background-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--background-tertiary);
  border-radius: 4px;
}

textarea::-webkit-scrollbar {
  width: 0.5rem;
}

textarea {
  cursor: auto;
}

textarea::-webkit-scrollbar:hover {
  cursor: pointer;
}

textarea::-webkit-scrollbar-track {
  background: var(--background-secondary);
  border-radius: var(--border-radius-primary);
}

textarea::-webkit-scrollbar-thumb {
  background: var(--background-tertiary);
  border-radius: 4px;
}