alert {
  display: flex; flex-direction: column;
  align-items: flex-start; justify-content: center;
  width: auto; min-height: 36px;
  margin: 0.25rem; padding: 0.75rem;
  border: 1px solid var(--background-tertiary); border-radius: var(--border-radius-primary);
  word-wrap: break-word
}

alert.danger {
  background-color: var(--background-red-secondary);
  border-color: var(--background-red-primary);
  color: var(--text-primary-dark);
  box-shadow: var(--shadow-primary);
}

alert.success {
  background-color: var(--background-green-secondary);
  border-color: var(--background-green-primary);
  color: var(--text-primary-dark);
  box-shadow: var(--shadow-primary);
}

alert.info {
  background-color: var(--background-primary);
  border-color: var(--background-secondary);
  color: var(--text-primary-light);
  box-shadow: var(--shadow-primary);
}