hr {
  height: 1px; width: 100%;
  border: none; border-radius: 24px;
  background-color: var(--background-secondary);
  margin-top: 4px; margin-bottom: 4px;
}
.hr-0 {
  margin-top: 0px; margin-bottom: 0px;
}
br {
  height: 1px; width: 100%;
  border: none; border-radius: 24px;
  background-color: var(--background-secondary);
}