a {
  display: flex; flex-direction: row;
  align-items: center; justify-content: flex-start;
  width: 100%;
  text-decoration: none;
  color: var(--text-primary-light);
  transition: var(--transition-duration-primary);
}

a:hover {
  color: var(--text-primary-hover-light);
}