/* Main Containers */

.main {
  background-color: #e9ecef;
  height: 100vh;
  left: 0;
  position: absolute;
  transition: left 0.25s, width 0.25s;
  width: 100%;
}

.mainContent {
  box-sizing: border-box;
  height: calc(100vh - 96px);
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 24px;
  position: absolute;
  top: 96px;
  width: 100%;
}

.navbarVisible {
  left: 240px;
}

/* Top Bar */

.pageTitle {
  align-items: center;
  display: flex;
  font-size: 1.75rem;
  font-weight: 600;
  justify-content: center;
  margin-right: auto;
}

.topBar {
  align-items: center;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  height: 96px;
  justify-content: space-between;
  padding: 24px;
  position: fixed;
  transition: width 0.25s;
  width: 100%;
  z-index: 768;
}

.topBarButtons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.topBarButton {
  align-items: center;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #212529;
  display: flex;
  height: 56px;
  justify-content: center;
  margin: 0 8px;
  overflow: hidden;
  transition: background-color 0.2s;
  width: 56px;
}

.topBarButton:hover {
  background-color: #eee;
}

.topBarButton:active {
  background-color: #ddd;
}

.topBarNotificationButton:hover {
  background-color: #eee;
}

/* Account Dropdown */

.accountDropdownModal {
  height: 100vh;
  left: -240px;
  position: fixed;
  width: calc(100vw + 240px);
  z-index: 512;
}

.accountDropdownContainer {
  align-items: flex-start;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  opacity: 100%;
  padding: 16px;
  pointer-events: all;
  position: fixed;
  right: 0;
  top: 96px;
  transition: opacity 0.2s;
  width: 384px;
  z-index: 1024;
}

.accountDropdownContainer__invisible {
  opacity: 0%;
  pointer-events: none;
}

.accountDropdownButton {
  align-items: center;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  color: #212529;
  display: flex;
  font-weight: 600;
  height: 48px;
  justify-content: flex-start;
  margin-top: 16px;
  padding: 0 8px;
  transition: background-color 0.2s;
  width: 100%;
}

.accountDropdownHeader {
  align-items: center;
  border-radius: var(--border-radius);
  color: #ced4da;
  display: flex;
  font-weight: 500;
  height: 96px;
  justify-content: space-between;
  padding: 8px 0;
  transition: background-color 0.2s;
  width: 100%;
}

.accountDropdownHeader:hover {
  background-color: #eee;
}

.accountDropdownHeader:active {
  background-color: #ddd;
}

.accountDropdownHeaderInfo {
  margin-right: auto;
  padding: 0 16px;
}

.accountDropdownHeaderName {
  color: #212529;
  font-size: 1.25rem;
  font-weight: 800;
}

.accountDropdownHeaderSubname {
  color: #212529;
  font-size: 0.875rem;
  font-weight: 600;
}

.accountDropdownHeaderRole {
  color: #212529;
  display: flex;
  font-weight: 600;
}

.accountDropdownHeaderRoleIcon {
  margin-right: 4px;
}

.accountDropdownHeaderEmail {
  color: #212529;
  font-size: 0.875rem;
  font-weight: 400;
}

.accountDropdownAvatar {
  align-items: center;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid #ccc;
  border-radius: 50%;
  color: #212529;
  display: flex;
  height: 100%;
  justify-content: center;
  margin: 0 16px;
  overflow: hidden;
  transition: background-color 0.2s;
  width: auto;
}

.accountDropdownButton:hover {
  background-color: #eee;
}

.accountDropdownButton:active {
  background-color: #ddd;
}

.pill {
  align-items: center;
  background-color: #000;
  border-radius: 24px;
  color: #fff;
  display: flex;
  font-size: 0.875rem;
  font-weight: 600;
  justify-content: center;
  margin: 0 4px;
  padding: 4px 8px;
}

@media screen and (min-width: 768px) {
  .navbarVisible {
    width: calc(100% - 240px);
  }

  .topBarMenuButton {
    display: none;
  }

  .navbarVisible .topBar {
    width: calc(100vw - 240px);
  }

  .accountDropdownContainer {
    margin: 16px;
  }
}

@media screen and (max-width: 768px) {
  .topBar {
    width: 100vw;
  }

  .navbarVisible {
    left: 100vw;
  }

  .accountDropdownContainer {
    border-radius: 0;
    border-top: 0;
    width: 100vw;
  }
}